.result{
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
    }
.search-box input[type="text"], .result{
        width: 100%;
        box-sizing: border-box;
    }
    /* Formatting result items */
.result p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
    }
.result p:hover{
        background: #f2f2f2;
    }

.move-up{

}

  h1{margin:100px auto}

  .form-control-borderless {
      border: none;
  }

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
